.main-text {
   font-size: 64px;
   text-align: center;
}

.inputs {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

input {
   border-radius: 20px;
   border: 1px solid ;
   padding: 10px 35px;
   background: darkslategray;
   transition: border 0.25s, background 0.25s;
}


   input:hover {
      background: #008cff;
   }

.btnitem {
   padding: 80px;
   margin: 5px;
   display: inline;
   flex-direction: column;
   background: lightcyan;
   border-radius: 15px;
}

.btnitem:hover {
   background: lightblue;
   transition: background 0.5s ;
}

.p2 {
   margin-top: 140px;
}

.display-none {
   display: none;
}